<!DOCTYPE html>
<html>
    <head>
        <title> Daily Notes</title>
    </head>
    <body>
        <h1>My Daily Notes</h1>
        <h2>
            <a href="{{url_for('add')}}">Add new Day.</a>
        </h2>
        <ul>
        {% for d in data %}
        <li><h2>{{d.Date}}</h2></li>
        <li><h3>{{d.Title}}</h3></li>
        <li><div>{{d.Content}}</div></li><br>
        <a href="{{url_for('edit',id=d.id)}}">Edit</a> <br>
        <a href="{{url_for('add')}}">Delete</a>
        {% endfor %}
        <hr>
        </ul>
        
    </body>
</html>