<!DOCTYPE html>
<html>
    <head>
        <title> Daily Notes</title>
    </head>
    <body>
        <h1>My Daily Notes</h1>
        <h2>
            <a href="{{url_for('add')}}">Add new Day.</a>
        </h2>
        <ol type="1" style="font-size: medium;">
        {% for d in data %}
        <li><h2>{{d.Date}}</h2></li>
        <u><h3>{{d.Title}}</h3></u><br>
        <div><p style="color: red; font-size: medium; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">{{d.Content}}</p></div><br><br>
        <a href="{{url_for('edit',id=d.id)}}">Edit</a> <br><br>
        <a href="{{url_for('delete',id=d.id)}}">Delete</a>
        <hr>
        {% endfor %}
        
        </ol>
        
    </body>
</html>