<!DOCTYPE html>
<html>
    <head>
        <titl>Student form</titl>
    </head>
    <body>
        <form action="{{url_for('form')}}" method="POST">
            <input type="text" name="name" placeholder="enter your name" required="required"/>
            <input type="text" name="branch" placeholder="enter your branch" required="required"/>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>

<!-- What Does url_for('form') Do?
When you use url_for('form') inside your HTML or Python code, Flask:

Looks up the endpoint name 'form' (same as your function name).

Finds the associated route (like '/form') that is registered with that function.

Generates the correct URL: /form.

It’s like saying:
"Hey Flask, give me the URL for the view function called 'form'." -->
